<!-- MAIN -->
<div id="main">
	<!-- wrapper -->
	<div class="wrapper">
		<!-- home-content -->
		<div class="home-content">
			
			<!-- 3d slideshow -->
			<script type="text/javascript">
				// <![CDATA[
				var flashvars = {};
				flashvars.xmlSource = "/piecemakerXML.xml";
				flashvars.cssSource = "/piecemakerCSS.css";
				flashvars.imageSource = "images/";
				var attributes = {};
				attributes.wmode = "transparent";
				swfobject.embedSWF("/piecemaker/piecemaker.swf", "slideshow-3d", "960", "430", "10", "",  flashvars, attributes);
					// ]]>
				</script>
			<div id="slideshow-3d">
				<a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" title="Get Adobe Flash player" /></a><br />
				You need <a href="http://www.adobe.com/go/getflashplayer">Flash Player 10</a> and allow javascript to see the content of this site..
			</div>
			<!-- 3d slideshow -->
			
			<!-- headline -->
			<div class="headline">
				A BEAUTIFUL KITCHEN IS WITHIN YOUR REACH! MAKE AN APPOINTMENT TODAY!
			</div>
			<!-- ENDS headline -->
			<div class="shadow-divider"></div>
			<!-- front-left-col -->
			<div class="front-left-col">
				<div class="bullet-title">
					<div class="big">OUR PROMISE TO YOU</div>
					<div class="small">OUR GOAL IS YOUR UTMOST PLEASURE.</div>
				</div>
				<!-- news list -->
				<ul class="news-list">
					<li>
						
						<div class="news-brief">
							<p>
							At GT World you are guaranteed to receive real solid wood cabinets, not the typical material you get at the expensive stores made out of saw dust. We also will provide full solid slab granite, not small square remnants from other peoples houses like the others.
						    </p>
						    <br/>
						    <p>
						    When you purchase from GT World you can ensure your cabinets are not made out of saw dust glued together and your granite comes in one solid slab piece. You can also ensure that you are receiving the best price for the highest in class service.
							</p>
						</div>

					</li>
				</ul>
				<!-- ENDS news-list -->
				<p><span><%= link_to "SCHEDULE APPOINTMENT", get_in_touch_path %></span></p>
				
			</div>
			<!-- ENDS front-left-col -->
			
			<!-- front-right-col-->
			<div class="front-right-col">
				<div class="bullet-title">
					<div class="big">THE COMPLETE PROCESS</div>
					<div class="small">We're experts and will guide you through the entire remodel process.</div>
				</div>
				<ul class="blocks-holder">
					<li class="block">
						<div class="block-ribbon">
							<div class="left">
								<div class="block-title">Understand the Requirements</div>
								<div class="block-date">We work with you and understand what you are looking for.</div>
							</div>
							<div class="right"></div>
						</div>
						<a href="about.html" ><img src="/images/understand_reqs.png" alt="Thumb" class="thumb" title="Thumbnail" /> </a>
					</li>
					<li class="block">
						<div class="block-ribbon">
							<div class="left">
								<div class="block-title">Measure the correct dimensions.</div>
								<div class="block-date">We accurately measure to make sure you have a perfect fit and finish.</div>
							</div>
							<div class="right"></div>
						</div>
						<a href="about.html" ><img src="/images/measure.png" alt="Thumb" class="thumb" title="Thumbnail" /> </a>
					</li>
					<li class="block">
						<div class="block-ribbon">
							<div class="left">
								<div class="block-title">Pick the right cabinets and granite.</div>
								<div class="block-date">We have a wide selection of cabinets and granite palletes.</div>
							</div>
							<div class="right"></div>
						</div>
						<a href="about.html" ><img src="/images/cabinets.png" alt="Thumb" class="thumb" title="Thumbnail" /> </a>
					</li>
					<li class="block">
						<div class="block-ribbon">
							<div class="left">
								<div class="block-title">Install and complete.</div>
								<div class="block-date">Our team of experts get the installation right.</div>
							</div>
							<div class="right"></div>
						</div>
						<a href="about.html" ><img src="/images/install.png" alt="Thumb" class="thumb" title="Thumbnail" /> </a>
					</li>
				</ul>
			</div>
			<!-- ENDS front-left-col -->
		</div>
		<!-- ENDS home-content -->
		<div class="clear"></div>
		<!-- twitter -->
		<div class="twitter-reader twitter-home">
			<div id="comment">"All my friends were amazed by my new kitchen and how affordable it was! - Joann Reynolds"</div>
		</div>
		<!-- ENDS twitter -->
		
	</div>
	<!-- ENDS main-wrapper -->
	

</div>		
<!-- ENDS MAIN -->	