<!-- MAIN -->
<div id="main">
	<!-- wrapper -->
	<div class="wrapper">
		<!-- home-content -->
		<div class="static-content">

    <div class="bullet-title"><div class="huge">Location</div></div>
    <ul id="contact">
      <li class="col">
        <ul>
          <li>Granite - Marble - Remodeling (GMR)</li>
          <li>45945 Terfoil Lane #103</li>
          <li>Sterling, VA 20166</li>
          <li>(571)375-0031</li>
          <li><a href="https://maps.google.com">Get Directions to the Showroom</a></li>             
        </ul>
      </li>
    </ul>
    <%= image_tag "map.png", :id => "map" %>
    
    </div>
  </div>
</div>